{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body1 %}
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <a clas="confirmedLink" href="{{ path('index') }}">{{ 'registration.toIndex'|trans }}</a>
{% endblock body1 %}
