{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-4 col-md-offset-4">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}

        {{ form_errors(form.username) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}

{% for password in form.plainPassword %}
    <li>
        {{ form_errors(password) }}
        {{ form_label(password) }}
        {{ form_widget(password, {'attr': {'class': 'form-control'}}) }}
    </li>
{% endfor %}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>