@import "../../../../../web/assets/vendor/bootstrap/less/bootstrap.less";
@import "variables.less";

.borderRadius(@radius){
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
}

.comment{
  margin-bottom: 5px;
  overflow: auto;
  border: 1px solid #ADC6DE;
  padding: 5px;
  .borderRadius(5px);
}

.save{
  display: none;
  cursor: pointer;
}

.newMessage{
  width: 100%;
}

.profile{
  font-size: 30px;
}

.flash-notice{
  color: #ac2925;
  font-weight: 900;
  font-size: 30px;
}

.myStocks{
  height: 200px;
  overflow: auto;
}