@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-sans-serif: Verdana, Verdana, Geneva, sans-serif;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;