{% extends "ProjectBundle::layout.html.twig" %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div>
            <p class="flash-notice">{{ flash_message }}</p>
        </div>
    {% endfor %}
    <div class="col-md-4 col-md-offset-4">
        <span class="profile">{{ user.firstname }} {{ user.lastname }}</span>
    {{ form_start(form, {'attr': {'role': 'form'} }) }}
    {{ form_errors(form) }}

    {{ form_errors(form.firstName) }}
    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'} }) }}

    {{ form_errors(form.lastName) }}
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'} }) }}

    {{ form_label(form.submit) }}
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
    {{ form_end(form) }}
    </div>
{% endblock %}