{% extends "ProjectBundle::layout.html.twig" %}
{% block body %}
    <script src="{{ asset('assets/vendor/Chart.js/dist/Chart.min.js') }}"></script>
    <a href="{{ path('index') }}">К комментариям</a>
    <a href="{{ path('post_stock') }}">Добавить акцию</a>
    
    <h3>Мои акции</h3>
    <div class="myStocks">
        {% for stock in stocks %}
            <blockquote>
                <p>{{ stock.name }}</p><a href="{{ path('delete_stock', {'id': stock.id}) }}">Удалить</a>
            </blockquote>
        {% endfor %}
    </div>
    <canvas id="clients" width="1140" height="450"></canvas>

    <script type="text/javascript">
        $(document).ready(function () {

             $.ajax({
             url: Routing.generate('get_price'),
             type: "GET",
             dataType: 'json'
             }).done(function (result) {
                 var x = [];
                 var y = [];

             for(var i=0; i < result.price.length; i++){
                 x.push(result.price[i].price);
                 y.push([]);
                 //y.push(result.price[i].date);
             }

                 var data = {
                     labels: y,
                     datasets: [
                         {
                             label: "Price",
                             fillColor: "rgba(220,220,220,0.2)",
                             strokeColor: "rgba(220,220,220,1)",
                             pointColor: "rgba(220,220,220,1)",
                             pointStrokeColor: "#fff",
                             pointHighlightFill: "#fff",
                             pointHighlightStroke: "rgba(220,220,220,1)",
                             data: x
                         }
                     ]
                 };

                 Chart.defaults.global.responsive = false;
                 Chart.defaults.global.maintainAspectRatio = false;

                 var context = document.getElementById('clients').getContext('2d');

                 var myLineChart = new Chart(context, {
                     type: 'line',
                     data: data
                 });
             });
        });

    </script>
{% endblock %}

