{% extends "ProjectBundle::layout.html.twig" %}
{% block body %}
{% for flash_message in app.session.flashBag.get('notice') %}
    {{ flash_message }}
{% endfor %}
    <a href="{{ path('stocks') }}">Назад</a>
<div class="col-md-4 col-md-offset-4">

    {{ form_start(form, {'attr': {'role': 'form'} }) }}
    {{ form_errors(form) }}

    {{ form_errors(form.name) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}

    {{ form_errors(form.count) }}
    {{ form_label(form.count) }}
    {{ form_widget(form.count, {'attr': {'class': 'form-control'} }) }}

    {{ form_label(form.submit) }}
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}

    {{ form_end(form) }}
</div>
{% endblock %}
