{% block body %}
    {{ form_start(form, {'attr': {'role': 'form'}, 'action': path('create_comment') }) }}
    {{ form_errors(form) }}

        {{ form_errors(form.message) }}
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'} }) }}

        {{ form_label(form.submit) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
    {{ form_end(form) }}
{% endblock %}
