{% extends 'ProjectBundle::layout.html.twig' %}

{% block body %}
          {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block body1 %}
            {% endblock %}
        </div>
{% endblock %}